@import "./layout";
// assets for the color and the fonts


// color theme
$colors: (
    primary: #12606A,
    secondary: #B8CED0,
    black: #000000,
    white: #FFFFFF,
    light1: #DFE2EA,
    navy: #103D6A,
    blue: #195CDB,
    red: #DB2D2D,
    grey: #707070,
);

$fonts: (
    primary: 'Open Sans',
    secondary: 'Roboto',
);

$font-sizes: (
    xl: 90px,
    lg: 64px,
    md: 32px,
    sm: 24px,
    xs: 16px,
);


@function size($size) {
    @return map-get($font-sizes, $size); //(name of map, key)
}

// function to access color code
@function getColor($color) {
    @return map-get($colors, $color);
}

// function to access different font
@function getFont($font) {
    @return map-get($fonts, $font);
}


@mixin root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
}

@mixin button {
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 16px;
    @include responsive("lg-up"){
        padding: 15px 50px;
    }
    //background-color: getColor(primary);
    //color: getColor(white);
}
