@import "../../assets/main/main";
@import "../../assets/main/layout";

.root {
    @include root;
}

.top {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 42px;
    justify-content: space-evenly;
    width: 85%;
    .logo{
        @include responsive("lg-up"){
            font-size: size(lg);
        }
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: size("md");
        color: getColor(primary);
        margin: 0 20px;
    }
    .buttonLogIn{
        @include button;
        border: 1px solid grey;
        margin: 10px 5px;
    }
    .buttonSignUp{
        @include button;
        background-color: getColor(primary);
        color: getColor(white);
        margin: 10px 5px;
        &:hover{
            background-color: getColor(secondary);
        }
    }
}
