
@import "../../assets/main/main";

.root {
    @include root;
}

.top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 14px 70px;
    -webkit-box-shadow: 0px 15px 30px #262B3414;
    -moz-box-shadow: 0px 15px 30px #262B3414;
         box-shadow: 0px 15px 30px #262B3414;
    .logo{
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 46px;
        color: getColor(primary);
    }
    .avatar{
        color: getColor(white);
        background-color: getColor(pink);
    }
}
