@import "../../assets/main/main";

.root {
    @include root;
}

.top {
    @include top;
}

.content{
    display: flex;
    flex-direction: column;
    &Message1{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 120px;
        color: getColor(light1);
        margin-left: 20px;
    }
    &Message2{
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 30px;
        color: getColor(primary);
        margin-left: 20px;
        margin-top:-20px;
    }
    &Message3{
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 25px;
        color: grey;
        margin-left: 20px;
    }
}


.search{
    width: 50%;
    display: flex;
    margin-left: 20px;
    .button{
        margin-left: 16px;
        background-color: getColor(primary);
        color: getColor(white);
    }
}
