@import "../../assets/main/main";
@import "../../assets/main/layout";

.root {
    @include root;
}

.content{
    display: flex;
    flex-direction: column;
    &Message1{
        @include responsive("lg-up"){
            font-size: size(lg);
        }
        @include responsive("xl-up"){
            font-size: size(xl);
        }
        font-family: 'Roboto';
        font-weight: 700;
        color: getColor(black);
        width: 80%;
        margin: 0 auto;
    }
    &Message2{
        @include responsive("lg-up"){
            font-size: size(sm);
        }
        @include responsive("xl-up"){
            font-size: size(md);
        }
        font-family: 'Roboto';
        font-weight:400;
        font-size: size(xs);
        color: getColor(primary);
        width: 80%;
        margin: 0 auto;
    }
    &Message3{
        @include responsive("lg-up"){
            font-size: size(sm);
        }
        @include responsive("xl-up"){
            font-size: size(md);
        }
        font-family: 'Roboto';
        font-weight: 400;
        font-size: size(xs);
        color: grey;
        width: 80%;
        margin: 0 auto;
    }
    .search{
        display: flex;
        width: 80%;
        margin: 0 auto;
        margin-top: 97px;
        .button{
            @include button;
            margin-left: 16px;
        }
    }
}


